# @neverendingsupport:registry=https://registry.nes.herodevs.com/npm/pkg/
# //registry.nes.herodevs.com/npm/pkg/:_authToken="$herodev-access-token"
@neverendingsupport:registry=https://pkgs.dev.azure.com/msazuredev/_packaging/SCAPD-feed/npm/registry
registry=https://pkgs.dev.azure.com/msazuredev/_packaging/SCAPD-feed/npm/registry

always-auth=true